@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.title-button {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: bolder;
    color: #090a0a;
}

.BUTTON{
    padding: 18px;
}